<div class="bg-custom-2">
  <div class="container footer-links">
    <div class="text-link">
      <a class="text-white" aria-current="page" href="#">Main</a>
      <a class="text-white" href="#">About</a>
      <a class="text-white" href="#">Game features</a>
      <a class="text-white" href="#system">System requirements</a>
      <a class="text-white" href="#">quotes</a>
    </div>

    <div class="logo-brands">
      <a class="" href="#"><img class="fa-brands" src="./Asset/facebook.svg" alt="" /></a>
      <a class="" href="#"><img class="fa-brands" src="./Asset/twitter.svg" alt="" /> </a>
      <a class="" href="#"><img class="fa-brands" src="./Asset/youtube.svg" alt="" /></a>
      <a class="" href="#"><img class="fa-brands" src="./Asset/twitch.svg" alt="" /></a>
    </div>
  </div>
</div>

<div class="container-fluid end-footer">
  <div class="container">
    <div class="line"></div>

    <div class="text-footer-wrapper">
      <div class="text-footer-1">
        <p>© 2018 Your Games, Inc. All Rights Reserved</p>
      </div>
      <div class="text-footer-2">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Services</a>
        <a href="#">Code of Conduct </a>
      </div>
    </div>
  </div>
</div>
